<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIM3</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="./app/static/styles.css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">

</head>
<body>
    <div class="title"><img class="logo" src=".\static\future.png"></a> TIM3</div>
    <div class="container">
    <form action = "" method = "POST">
      <div class="panel panel-primary">
        <div class="panel-heading">What's your next task?</div>
          <div class="panel-body">
           
             <div class="row">
                <div class="col-md-6">
                   
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Scheduled Time</label>
                        <div class='input-group date' id='datetimepicker1'>
                           <input type='text' class="form-control" name="time_end" id="time" inputmode='none' placeholder="Tomorrow at 5pm">
                           <span class="input-group-addon">
                           <span class="glyphicon glyphicon-calendar"></span>
                           </span>
                        </div>
                     </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6">
                   
                </div>
                <div class='col-md-6'>
                   
                </div>
            </div>
            <div class="text-center "><input type="submit" class="btn btn-primary cust-button" value="Schedule Now" ></div>
          </div>
        </form>
       </div>
    
    </div>
    <script>
        $(function () {
          $('#datetimepicker1').datetimepicker();
       });
      </script>
</body>
</html>